    .error {
        color: red;
    }
    
    .container {
        margin-top: 5%;
    }
    
    .nav-logo-custom {
        margin-left: 20px;
        text-decoration: none;
    }
    
    .login-btn-custom {
        margin-right: 20px;
    }
    
    .alert-warning-custom {
        margin-top: 10px;
    }
    
    li {
        list-style: none;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: royalblue;
    }
    
    .login-name {
        margin-bottom: 50px;
    }
    
    .form-button {
        margin-bottom: 10px;
    }