.error {
    color: red;
}

.container {
    margin-top: 10%;
}

.login-link {
    margin-top: 20px;
}

.nav-logo-custom {
    margin-left: 20px;
    text-decoration: none;
}

.login-btn-custom {
    margin-right: 20px;
}

.alert-warning-custom {
    margin-top: 10px;
    /* display: none !important; */
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: royalblue;
}

.login-name {
    margin-bottom: 50px;
}